#webform {
  background-color: var(--form-background-color);
}

#form-section,
#form-summary {
  background-color: var(--info-background-color);
  padding: 0;
}
#form-summary h2 {
  line-height: 3rem;
  text-align: center;
  background-color: var(--headline-bg-color-inverted);
  color: var(--headline-color-inverted);
  padding-top: 5px;
}
#form-summary h3 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
#form-summary > *:not(:first-child) {
  margin: 0 clamp(1rem, 10%, 7rem);
}
#form-summary p {
  font-size: 0.8rem;
  line-height: 1.3;
  margin: 0 0 1.2rem 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  interpolate-size: allow-keywords;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1,
h2 {
  line-height: 1.25;
}

p,
li {
  text-wrap: pretty;
}

img,
svg {
  display: block;
  width: 100%;
  height: auto;
}

label {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background-color: transparent;
  font-size: max(1em, 16px);
  border-radius: 10px;
}

textarea {
  resize: none;
  min-height: 4lh;
}

legend {
  padding: 0;
}

select,
::picker(select) {
  appearance: base-select;
}
button {
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  border-radius: 6px;
  padding: 0.25rlh 0.5rlh;
  cursor: pointer;
}
fieldset {
  border: none;
}
form {
  display: grid;
  gap: 2rem;
  accent-color: #ff4b00;
}
.form-group {
  display: grid;
  gap: 3px;
}
#webform,
#webform2 {
  background-color: rgb(255, 255, 255);
  padding: 1.5em;
  border-radius: 10px;
  margin: 1em;
}
:focus-visible {
  outline: 2px solid #ff4b00;
  outline-offset: 1px;
}

button:hover {
  outline: 2px solid #ff4b00;
  outline-offset: 1px;
}
button:active {
  outline: 2px solid #0d0c0c;
  outline-offset: 1px;
}
.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

label:has(input) {
  display: flex;
  align-items: center;
  gap: 0.75ch;
}
input {
  border: 1px solid #ccc;
  padding: 0.25rlh;
  border-radius: 6px;
  box-shadow: 0px 1px 2px #0001;
}
.form-group:has(:required) {
  label::after {
    content: " *";
    color: red;
  }
}
.form-group:has(:user-invalid) {
  input {
    outline: 3px solid #f005;
    border-color: darkred;
  }
}
.error-message {
  display: none;
}

#webform .form-group label,
#webform .output h2,
legend h2 {
  text-align: center;
  background-color: var(--color-headline-bg);
  color: var(--color-headline-text-page);
  line-height: 2rem;
}
legend h2 {
  padding: 0em 4em 0em 4em;
}

.output p {
  padding: 1em;
}
#webform2 fieldset label {
  padding: 0.5em;
}

#webform ::placeholder {
  padding: 0.5em;
}
